# these libs are requested to build common python libs 
# if you are an advance user and are sure to not use them you can comment the following lines
wheel
Cython
pybind11
pre-commit
voila

# the base lib to run any sepal_ui based app 
# don't forget to fix it to a specific version when you're app is ready
sepal_ui==2.4.0


# custom libs
bqplot==0.12.31
ipyvuetify==1.8.1
ipywidgets==7.6.5
numpy==1.17.4
traitlets==5.1.1
